@model IEnumerable<CurrencyApp.Models.CurrencyModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Currency Info</h1>


<p>
    <a asp-action="create">Create New</a>
</p>



<table class="table">
    <thead>
        <tr>
            <th>
                Currency
            </th>

            <th>
                BuyRate
            </th>

            <th>
                SellRate
            </th>

            <th>
                Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @item.Currency
            </td>
            <td>
                @item.BuyRate
            </td>
            <td>
                @item.SellRate
            </td>
            <td>
                @item.Date
            </td>
            <td>
                <a asp-action="Update" asp-route-id="@item.Id">Update</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
