@model IEnumerable<CurrencyApp.Models.CurrencyModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Currency Info</h1>


<p>
    <a asp-action="create">Create New</a>
</p>



<table class="table">
    <thead>
        <tr>
            <th>
                Rate
            </th>
            <th>
                fromCurrency
            </th>
            <th>
                toCurrency
            </th>
            <th>
                CreateDatetime
            </th>
            <th>
                UpdateDatetime
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Rate
                </td>
                <td>
                    @item.fromCurrency
                </td>
                <td>
                    @item.toCurrency
                </td>
                <td>
                    @item.CreateDatetime
                </td>
                <td>
                    @item.UpdateDatetime
                </td>
                <td>
                    @item.Removed
                </td>
                <td>
                    <a asp-action="Update" asp-route-id="@item.Id">Update</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
