@model IEnumerable<CurrencyApp.Models.CalculatorModel>
@{
    ViewData["Title"] = "Index";
}


<h1>Calculator Info</h1>


<p>
    <a asp-action="back">Go Back</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                Convert From
            </th>
            <th>
                Convert To
            </th>

            <th>
                sell
            </th>
            <th>
                buy
            </th>
            <th>CreateDatetime</th>
            <th>comment</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.fromCurrency
                </td>
                <td>
                    @item.toCurrency
                </td>


                <td>
                    @item.sell
                </td>
                <td>
                    @item.buy
                </td>
                <td>
                    @item.CreateDatetime
                </td>
                <td>@item.comment</td>
            </tr>
        }
    </tbody>
</table>
